@import "_normalize";

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#compass {
  position: relative;

  transform-origin: 50% 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
  }
}

#rose {
  transition: transform 1s ease-out 0s;
}

.pointers {
  img {
    transition: transform 1s ease-out 0s;
  }
}

.destination-direction {
  display: inline-block;
  //width: 20px;
  //height: 20px;
  //background-color: red;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;  /* left arrow slant */
  border-right: 5px solid transparent; /* right arrow slant */
  border-bottom: 15px solid #c1473f; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}
