extends layout

block body
  div#pointer
    img(
      src='img/brosen-windrose.svg'
      alt=''
      )

  footer
    p
    | <a href='http://commons.wikimedia.org/wiki/File:Brosen_windrose.svg#mediaviewer/File:Brosen_windrose.svg'>Brosen windrose</a> - licensed under Creative Commons Attribution 2.5 via Wikimedia Commons
