extends layout

block body
  div#compass
    img#rose(
      src='img/rose.png'
      alt=''
      )
    div.pointers
    img#arrow(
      src='img/arrow.png'
      alt=''
      )
  p
  | Lat: <span id='current-lat'></span>
  | Lng: <span id='current-lng'></span>
  | Bearing: <span id='current-bearing'></span>

  h3 Destinations
  div#destinations-container

  button#destination-add add

  footer
