doctype html
html(
)
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        base(href='/')
        title gretel

    link(rel='stylesheet', href='/css/app.css')

    body
        block body

        script(src='js/hansel.js')
        script(src='js/gretel.js')
        script(src='js/position.js')
        script(src='js/compass.js')
        script(src='js/app.js')
